# MongoDB接続文字列
# Atlas: mongodb+srv://<username>:<password>@cluster0.pvezj93.mongodb.net/real-sns?retryWrites=true&w=majority&appName=Cluster0
# Local: mongodb://localhost:27017/real-sns
MONGOURL=mongodb+srv://<username>:<password>@cluster0.pvezj93.mongodb.net/real-sns?retryWrites=true&w=majority&appName=Cluster0

# サーバーポート
PORT=5000
